@page "/"
@namespace TobyBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TobyBlazor</title>

    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        /*.fullwindow {
            position: fixed !important;
            top: 0;
            left: 0;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            height: 100% !important;
            z-index: 1000 !important;
            overflow: hidden;
        }*/

        .modal-tall .modal-dialog {
            height: 95%;
        }

        .modal-tall .modal-content {
            height: 90%;
        }
    </style>
</head>
<body>
    <script>
        //window.ytfullwindow = false;

        //document.onkeyup = function (e) {
        //    if (e.which == 113) {
        //        if (!window.ytfullwindow) {
        //            $("#player").addClass("fullwindow");
        //            ytfullwindow = true;
        //        } else {
        //            $("#player").removeClass("fullwindow");
        //            ytfullwindow = false;
        //        }
        //    }
        //};

        window.startupYouTubeAPI = function () {
            var tag = document.createElement('script');
            tag.src = 'https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        }

        window.playerReady = false;
        window.player = null;
        function onYouTubeIframeAPIReady() {
            window.player = new YT.Player('player', {
                videoId: '',
                width: "100%",
                height: "100%",
                playerVars: {
                    autoplay: 1,
                    iv_load_policy: 3
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });

            window.playVideo = function (videoId) {
                if (window.player) {
                    window.player.setVolume(30);
                    window.player.loadVideoById(videoId);
                }
            }
        }

        function onPlayerReady(event) {
            playerReady = true;

            //const $player = $("#player");

            //var resizeVideo = function() {
            //    $player.width(window.innerWidth);
            //};

            //$(window).resize(e => {
            //  resizeVideo();
            //});

            //resizeVideo();
        }

        window.checkPlayer = function () {
            if (player && playerReady) {
                return true;
            } else {
                return false;
            }
        }

        window.toggleModal = function (id) {
            console.log(id);
            $('#' + id).modal('toggle');

            if (player) {
                player.playVideo();
            }
        }

        window.setModalCloseStopVideo = function (id) {
            $('#' + id).on("hidden.bs.modal", function () {
                if (player) {
                    player.stopVideo();
                }
            });
        }
    </script>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
