@page "/"
@namespace TobyBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toby</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/cyborg-bootstrap.min.css" />

    <link href="css/site.css" rel="stylesheet" />

    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <style>
        @@media (min-width: 768px) {
            .main > div {
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
        }

        .modal {
            overflow: hidden !important;
            padding-right: 22px !important;
        }

        @@media (min-width: 576px) {
            .modal-dialog {
                margin: 10px !important;
            }
        }

        .modal-tall .modal-dialog {
            height: 100%;
        }

        .modal-tall .modal-content {
            height: 97%;
        }

        .modal-open {
            overflow: auto;
            padding-right: 0 !important;
        }

        /* Credit: https://codepen.io/leenawat/pen/ORPbqE */
        .alert-bottom {
            position: fixed;
            bottom: 5px;
            left: 2%;
            width: 96%;
        }
    </style>
</head>
<body>
    <script>
        window.setTitle = function (title) {
            document.title = title;
        }

        window.ytAPIReady = false;
        window.playerReady = false;
        window.player = null;

        window.initializeYouTubePlayer = function () {
            window.player = null;

            var tag = document.createElement('script');
            tag.src = 'https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        }

        window.createPlayer = function () {
            window.player = new YT.Player("player", {
                videoId: '',
                width: "100%",
                height: "100%",
                playerVars: {
                    autoplay: 1,
                    iv_load_policy: 3
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });
        }

        window.playVideo = function (videoId) {
            if (window.player) {
                window.player.setVolume(30);
                window.player.loadVideoById(videoId);
            }
        }

        window.onYouTubeIframeAPIReady = function () {
            window.ytAPIReady = true;
        }

        window.onPlayerReady = function (event) {
            window.playerReady = true;
        }

        window.checkAPIReady = function () {
            if (window.ytAPIReady) {
                return true;
            }

            return false;
        }

        window.checkPlayer = function () {
            if (player && playerReady) {
                return true;
            } else {
                return false;
            }
        }

        window.closeModal = function (id) {
            $("#" + id).modal("hide");
            $("body").css("overflow-y", "auto");
            toggleMainUI();
        }

        window.openModal = function (id) {
            $("#" + id).modal({ backdrop: "static", keyboard: false });
            $("body").css("overflow-y", "hidden");
            toggleMainUI();

            if (player) {
                player.playVideo();                
            }
        }

        window.setModalCloseStopVideo = function (id) {
            $("#" + id).on("hidden.bs.modal", function () {
                if (player) {
                    player.stopVideo();
                    
                }
            });
        }

        window.toggleMainUI = function () {
            $("#main-ui").toggle();
        }

    </script>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
