@page "/"

@using System.Net
@using TobyBlazor.Models

<div id="main-ui">
    <CommandInput OnSearch=@OnSearchResults />
    
    <div style="padding-bottom: 15px;">
        <VideoList Videos=@topFiveRecentlyPlayed RecentlyPlayed=true OnSelectedVideo=@OnSelectedVideo />
    </div>

    @if (Result.Type == SearchResultType.Manage || Result.Type == SearchResultType.ManageRecentlyPlayed)
    {
        <VideoManagement Videos=@Result.Videos OnDeleteVideo=@OnDeleteVideo RecentlyPlayed=@(Result.Type == SearchResultType.ManageRecentlyPlayed ? true : false) />
    }
    else if (Result.Type == SearchResultType.ManageGroups)
    {
        <GroupManagement />
    }
    else if (Result.Type == SearchResultType.Search)
    {
        <VideoPagination RecentlyPlayed=@RecentlyPlayed Videos=@Result.Videos>
            <Content>
                <VideoList Videos=@context OnSelectedVideo=@OnSelectedVideo />
            </Content>
        </VideoPagination>
    }
</div>

@if (SelectedVideo != null && !string.IsNullOrEmpty(SelectedVideo.YTId))
{
    <WindowTitle Title=@WebUtility.HtmlDecode(SelectedVideo.Title) />
    <VideoPopup SelectedVideo=@SelectedVideo OnPopupClosed=@OnVideoDismissed />
}
else
{
    <WindowTitle Title="Toby" />
}

@if (Result.Message != null && !String.IsNullOrEmpty(Result.Message.Value))
{
    <Notification Message=@Result.Message.Value NotificationType=@Result.Message.Type OnClose=@OnNotificationClose />
}