<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">            
            <Icon Path="css/bootstrap/icons/search.svg" Title="Search" Invert=true />
        </span>
    </div>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
           spellcheck="false"
           @bind=@SearchTerm
           @onkeyup=@(eventArgs => OnKeyPress(eventArgs.Key)) />
</div>