<div style="margin-top:25px;">
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <button type="button" class="btn btn-danger" disabled=@DeleteButtonDisabled @onclick=@OnDeleteButtonClicked>Delete</button>
        </div>
        <div class="form-inline">
            <form @onsubmit=@OnSearchButtonClicked>
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Type group name here..."
                           aria-label="Add group or search for group"
                           aria-describedby="button-addon4"
                           @bind-value=@SearchTerm                           
                           @oninput=@OnSearchTermChanged>
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-info" type="button" @onclick=@OnAddButtonClicked disabled=@AddButtonDisabled>Add</button>
                        <button class="btn btn-success" type="button" @onclick=@OnSearchButtonClicked disabled=@SearchButtonDisabled>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="list-group">
        @foreach (var group in Groups)
        {
            <div @key=@group.Name class="list-group-item d-flex justify-content-between align-items-center">
                <div style="margin-left: 10px; margin-right:10px; margin-bottom: 30px;">
                    <input type="checkbox" class="form-check-input" @onchange="eventArgs => OnCheckboxClicked(group.Name, eventArgs.Value)" />
                </div>
                <div class="w-100"><h5>@group.Name</h5></div>
            </div>
        }
    </div>
</div>
