<div class="alert-bottom alert @NotificationType" role="alert">
    @Message

    <button type="button" class="close" aria-label="Close" @onclick=@OnCloseButtonClick>
        <span aria-hidden="true">&times;</span>
    </button>
</div>