@using System.Timers

<div class="alert-bottom alert @NotificationType" role="alert">
    @Message

    <button type="button" class="close" aria-label="Close" @onclick=@OnCloseButtonClick>
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string NotificationType { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task CallClose()
    {
        await OnClose.InvokeAsync(null);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(5000);
            await CallClose();
        }
    }

    private async void OnCloseButtonClick()
    {
        await CallClose();        
    }
}
