@using TobyBlazor.Models
@using TobyBlazor.Other

<div style="margin-top:25px;">
    <div class="list-group list-group-horizontal">
        @foreach (var video in Videos)
        {
            <span class="list-group-item">
                <button @key=video.YTId type="button" @onclick="@(() => VideoSelected(video))" class="list-group-item list-group-item-action d-flex justify-content-lg-start align-items-center @(SelectedVideo != null && video.YTId == SelectedVideo.YTId ? "active" : "")">
                    <img class="mr-3" src="@HelperExtensions.GetDefaultVideoThumbnail(video.YTId)" />
                </button>
            </span>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Video> Videos { get; set; }

    private Video SelectedVideo { get; set; }

    [Parameter]
    public EventCallback<Video> OnSelectedVideo { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (SelectedVideo != null)
        {
            await Task.Run(() => { SelectedVideo = null; });
        }
    }

    private async Task VideoSelected(Video video)
    {
        SelectedVideo = video;
        await OnSelectedVideo.InvokeAsync(video);
    }
}
