@using TobyBlazor.Data
@using TobyBlazor.Models
@using System.Net

<div style="margin-top:25px;">
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <button type="button" class="btn btn-warning" disabled=@ApplyButtonDisabled @onclick=@OnApplyButtonClicked>Apply</button>
            <button type="button" class="btn btn-danger" disabled=@DeleteButtonDisabled @onclick=@OnDeleteButtonClicked>Delete</button>
        </div>
        <div class="form-inline">
            <form @onsubmit=@OnSearchButtonClicked>
                <div class="input-group">
                    <input type="text" 
                           class="form-control"                            
                           placeholder="Search for video..." 
                           aria-label="Search for video" 
                           aria-describedby="button-addon4"
                           @bind-value=@SearchTerm                           
                           @oninput=@OnSearchTermChanged>
                    <div class="input-group-append" id="button-addon4">                        
                        <button class="btn btn btn-success" type="button" @onclick=@OnSearchButtonClicked disabled=@SearchButtonDisabled>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="list-group">
        @foreach (var video in Videos)
        {
            <div @key=video.YTId class="list-group-item d-flex justify-content-between align-items-center">
                <div style="margin-left: 10px; margin-right:10px; margin-bottom: 30px;">
                    <input type="checkbox" class="form-check-input" @onchange="eventArgs => { OnCheckboxClicked(video.YTId, eventArgs.Value); }" />
                </div>
                <div><img class="mr-3" src="@GetVideoThumbnail(video.YTId)" /></div>
                <div class="w-100"><h5>@WebUtility.HtmlDecode(video.Title)</h5></div>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @video.Group
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            @foreach (var group in videos.AllGroups())
                            {
                                @if (group.Name != "Recently Played")
                                {
                                    <button class="dropdown-item" type="button" @onclick="eventArgs => { OnMenuItemSelected(video, group.Name); }">@group.Name</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>