@using TobyBlazor.Models

@if (Videos.Count > 0)
{
    <div style="margin-top:25px;">
        <div class="list-group">
            @foreach (var video in Videos)
            {
                <button type="button" @onclick="@(() => VideoSelected(video))" class="list-group-item list-group-item-action d-flex justify-content-lg-start align-items-center @(video.YTId == SelectedVideo ? "active" : "")">
                    <img class="mr-3" src="@GetVideoThumbnail(video.YTId)" />
                    <h5 class="mt-0" style="text-align:left;">@video.Title</h5>
                </button>                
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public List<Video> Videos { get; set; }

    [Parameter]
    public EventCallback<string> OnSelectedVideo { get; set; }

    private string SelectedVideo = "";

    private string GetVideoThumbnail(string ytid)
    {
        return String.Format("https://i.ytimg.com/vi/{0}/default.jpg", ytid);
    }

    private async void VideoSelected(Video video)
    {
        SelectedVideo = video.YTId;
        await OnSelectedVideo.InvokeAsync(video.YTId);
    }
}
