@if (Pages.Count > 0)
{
    if (Pages.Count > 1)
    {
        <nav aria-label="Video page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @(PreviousButtonDisabled ? "disabled" : "")">
                    <button class="page-link" aria-label="Previous" @onclick=@OnPreviousButtonClick>
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>

                @foreach (var i in PageIndices[CurrentPageLinkPage - 1])
                {
                    <li class="page-item @(CurrentPage == i ? "active" : "")">
                        <button class="page-link" @onclick=@(eventArgs => OnPageButtonClick(i))>
                            @i
                        </button>
                    </li>
                }

                <li class="page-item @(NextButtonDisabled ? "disabled" : "")">
                    <button class="page-link" aria-label="Next" @onclick=@OnNextButtonClick>
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    }

    <div>
        @Content(Pages[CurrentPage - 1])
    </div>
}
else
{
    if (!String.IsNullOrEmpty(Message))
    {
        <Notification Message=@Message NotificationType="alert-warning" OnClose=@OnNotificationClose />
    }
}